<a class = "home" href="index.html" alt = "Link to Main Page" target = ""> 
    <img src = "../../Images/homee.png" style="position: absolute; top: 630px; right: 35px;" width= "80px" height="80px" alt = "Home"> 
</a>

</body>
</html>